[Desktop Entry]
Version=1.0
Type=Application
Name=Sokar
GenericName=Sokar
Comment=Przeglądarka DICOM
Icon=sokar
Categories=Graphics;Science;
Exec=sokar
Terminal=false
